<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player/player_btn_modify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,26}</string>
                <key>spriteSourceSize</key>
                <string>{28,26}</string>
                <key>textureRect</key>
                <string>{{867,121},{28,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/player_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{913,121},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/player_label_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,117}</string>
                <key>spriteSourceSize</key>
                <string>{584,117}</string>
                <key>textureRect</key>
                <string>{{372,2},{584,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/player_tab bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,91}</string>
                <key>spriteSourceSize</key>
                <string>{237,91}</string>
                <key>textureRect</key>
                <string>{{372,121},{237,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/player_upgrade_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,368}</string>
                <key>spriteSourceSize</key>
                <string>{218,368}</string>
                <key>textureRect</key>
                <string>{{2,2},{218,368}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player/player_upgrade_pattern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{802,190},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/player_upgrade_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,25}</string>
                <key>spriteSourceSize</key>
                <string>{428,25}</string>
                <key>textureRect</key>
                <string>{{372,214},{428,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/player_upgrade_progress_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,29}</string>
                <key>spriteSourceSize</key>
                <string>{58,29}</string>
                <key>textureRect</key>
                <string>{{853,190},{58,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player/player_upgrade_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,67}</string>
                <key>spriteSourceSize</key>
                <string>{254,67}</string>
                <key>textureRect</key>
                <string>{{611,121},{254,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{958,241}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2db9ce42c92f8c6b57656d1aa78ad5ec:431f4537d2a073939bf4187d529ff792:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
