<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maintown/activity_icon_adjustment.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{96,88}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{491,332},{96,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_anniversary_grow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{352,502},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_arena.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{2,540},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_arena_battle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{138,404},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_asbu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{491,136},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_bgm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{623,2},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_carnival.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{324,598},{96,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_detective.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{2,638},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{236,404},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_jahra.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{100,694},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_july_ocean.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{491,234},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_monthly2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{196,684},{94,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/activity_icon_national_day.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{721,2},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_return_grow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{2,736},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_return_grow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{334,404},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_travel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{819,2},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_viking.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{96,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{623,100},{96,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_visa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{917,2},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/activity_icon_warlord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{128,572},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_board.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{90,72}</string>
                <key>textureRect</key>
                <string>{{926,490},{90,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_btn__halloween_day.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{618,618},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn__return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{226,572},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn__tanabata.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{721,100},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_autumn_festival.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{819,100},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_black_friday.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{917,100},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_cake.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{687,296},{88,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_btn_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{96,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{785,296},{96,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_christmas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{589,188},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_down_bag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{374,716},{92,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_btn_down_guild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{589,384},{94,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_btn_down_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{589,286},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_down_pet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{92,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{470,716},{92,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_btn_down_skin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{687,386},{94,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_btn_drop_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{100,790},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_drop_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,68}</string>
                <key>spriteSourceSize</key>
                <string>{105,68}</string>
                <key>textureRect</key>
                <string>{{138,502},{105,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_drop_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,68}</string>
                <key>spriteSourceSize</key>
                <string>{105,68}</string>
                <key>textureRect</key>
                <string>{{245,502},{105,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_easter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{687,198},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_event1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{785,198},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_event2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{883,296},{96,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_event_lover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{883,198},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_event_rookie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{785,390},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_event_spring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{883,392},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_exchange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{894,584},{84,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_btn_gem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{808,584},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{78,84}</string>
                <key>textureRect</key>
                <string>{{754,676},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_growth_plan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{486,422},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_july_growth_plan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{448,520},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_left_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{834,670},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_left_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{566,716},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_left_contact.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{660,714},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_left_feedback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{644,482},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_left_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{738,488},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_left_mail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{832,490},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_left_support.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{714,582},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_new.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{2,404},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_new_year.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{422,618},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_questionnaire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{918,670},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_return_popup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{84,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{280,694},{84,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_btn_right_challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{754,762},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_right_quests.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{836,754},{78,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_right_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{84,76}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{196,780},{84,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_right_rookie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,80}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{282,780},{76,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_btn_right_setup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{916,754},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{130,132}</string>
                <key>textureRect</key>
                <string>{{491,2},{130,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_thank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{546,520},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_btn_thanksgiving.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{520,618},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_building_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,52}</string>
                <key>spriteSourceSize</key>
                <string>{78,52}</string>
                <key>textureRect</key>
                <string>{{432,404},{78,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_icon_community.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{644,576},{40,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_icon_support.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{41,38}</string>
                <key>textureRect</key>
                <string>{{584,480},{41,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_progress.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,26}</string>
                <key>spriteSourceSize</key>
                <string>{152,26}</string>
                <key>textureRect</key>
                <string>{{100,540},{152,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maintown/maintown_redpoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{2,834},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_shadow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,400}</string>
                <key>spriteSourceSize</key>
                <string>{487,400}</string>
                <key>textureRect</key>
                <string>{{2,2},{487,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maintown/maintown_shadow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,117}</string>
                <key>spriteSourceSize</key>
                <string>{12,117}</string>
                <key>textureRect</key>
                <string>{{128,670},{12,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>maintown.png</string>
            <key>size</key>
            <string>{1015,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:368120bdf2d16857e5a27234e30f1eea:9e60f7029771b3cbcd7a0f7cc489b1b2:1709df3ad12414e9ac635a4f9e11f7cc$</string>
            <key>textureFileName</key>
            <string>maintown.png</string>
        </dict>
    </dict>
</plist>
